---
// astro
import { Image } from "astro:assets"

// self
import Layout from "!layouts/layout.astro"
import Footer from "!components/footer.astro"
import { title } from "!root/consts.js"

// images
import myImage from "!assets/so-which-one-is-made-up.webp"
---
<Layout title={title}>
	<div class="hero bg-base-200 min-h-screen">
		<div class="hero-content flex-col lg:flex-row">
			<Image
				src={myImage}
				width={432}
				class="max-w-sm rounded-lg shadow-2xl"
				alt="Poignée de main"
			/>
			<div>
				<h1 class="text-5xl font-bold">So which one is made up?</h1>
				<p class="py-6">
					Last Week Tonight With John Oliver asked a very important question on June 23, 2024.
				</p>
			</div>
		</div>
	</div>

	<div class="container my-4">
		<blockquote class="my-4 text-xl italic font-semibold text-gray-900 dark:text-white">
			«Someone who is clumsy or inept, perhaps in a somewhat endearing yet mildly insulting way.
			It might describe someone who frequently trips over their own feet
			or tends to stumble in awkward situations. The word playfully combines
			"fuck" (as in something going wrong or being awkward) with "toes,"
			implying clumsiness or awkwardness related to feet.»
		</blockquote>

		<div class="divider">OR</div>

		<blockquote class="my-4 text-xl italic font-semibold text-gray-900 dark:text-white">
			«Fuckletoes could be used to describe someone who is not only clumsy
			but also foolish or incompetent. It implies that the person not only
			messes up physically but also lacks intelligence or common sense,
			making them a source of annoyance or frustration to others.
			It's a blend of vulgarity ("fuck") and a mocking reference to
			their lack of coordination ("toes"), emphasizing their ineptitude in a harsh manner.»
		</blockquote>

		<a class="link my-4" href="https://www.reddit.com/r/lastweektonight/comments/1dn49mc/so_which_one_is_made_up/">So which one is made up? (Reddit)</a>
		<ul class="my-4 list-disc ml-5">
			<li><a class="link" href="https://www.hbo.com/last-week-tonight-with-john-oliver">Last Week Tonight With John Oliver (HBO)</a></li>
			<li><a class="link" href="https://en.wikipedia.org/wiki/Last_Week_Tonight_with_John_Oliver">Last Week Tonight With John Oliver (Wikipedia)</a></li>
			<li><a class="link" href="https://www.youtube.com/@LastWeekTonight/videos">Last Week Tonight With John Oliver (YouTube)</a></li>
		</ul>
	</div>
	<Footer />
</Layout>
