---
// self
import Layout from "!layouts/layout.astro"
import Footer from "!components/footer.astro"
import { title } from "!root/consts.js"
---
<Layout title={title}>
	<ul class="my-4 list-disc ml-5">
		<li><a class="link" href="https://www.hbo.com/last-week-tonight-with-john-oliver">Last Week Tonight With John Oliver (HBO)</a></li>
		<li><a class="link" href="https://en.wikipedia.org/wiki/Last_Week_Tonight_with_John_Oliver">Last Week Tonight With John Oliver (Wikipedia)</a></li>
		<li><a class="link" href="https://www.youtube.com/@LastWeekTonight/videos">Last Week Tonight With John Oliver (YouTube)</a></li>
	</ul>
	<Footer />
</Layout>
